 .u-section-1 {
  background-image: linear-gradient(black, #001224);
}

.u-section-1 .u-sheet-1 {
  min-height: 524px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  width: 888px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  width: 888px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}