 .u-section-1 {
  background-image: url("images/neon-cyber-city-cat-girl-4k-g71.jpg");
  background-position: 77.07% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 4px -3px 4px rgba(230,81,161,1);
  font-family: "Titillium Web", sans-serif;
  margin: 284px -249px 0 477px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 2.25rem;
  font-weight: 700;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 52px 216px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(225deg, #2d053a, #001224);
}

.u-section-2 .u-sheet-1 {
  min-height: 1802px;
}
